
body {
    background-color: #fff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------- TIPOGRAFIA ------------------- */
h1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 15px;
    color: aliceblue;
}

h4 {
    font-size: 20px;
    margin-left: 80px;
}

h6 {
    font-size: 20px;
    color: aliceblue;
}

h7 {
    margin-left: 50px;
    font-size: 20px;
    font-family: sans-serif;
}

.avaliaçao {
    margin-left: 20px;
}

/* ------------------- LINKS ------------------- */

header a,
nav a {
    text-decoration: none;
    color: white;
}

.btn a,
.filtro a {
    text-decoration: none;
    color: red;
}

header a:hover,
nav a:hover,
.btn a:hover,
.filtro a:hover {
    text-decoration: underline;
    color:#badbcc
}

/* ------------------- ALERTAS BOOTSTRAP ------------------- */
.alert-success {
    color: #0f5132 !important;
    background-color: #d1e7dd !important;
    border-color: #badbcc !important;
}

.alert-success * {
    color: #0f5132 !important;
}

.alert-danger {
    color: #842029 !important;
    background-color: #f8d7da !important;
    border-color: #f5c2c7 !important;
}

.alert-danger * {
    color: #842029 !important;
}

/* ------------------- BOXES DE COMIDA ------------------- */
.box {
    width: 250px;
    height: 250px;
    background-color: gray;
    float: right;
    margin: 50px 50px 0 0;
    border: 30px solid rgb(226, 225, 225);
}

.box:hover {
    width: 500px;
    height: 500px;
}

#foodbox:hover {
    width: 300px;
    height: 300px;
}

/* ------------------- FILTROS ------------------- */
.filtro {
    width: 200px;
    height: 70px;
    background-color: red;
    float: right;
    margin: 20px 10px 30px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filtrar {
    width: 440px;
    height: 50px;
    float: right;
    border: 0;
    border-bottom: 3px solid rgb(226, 225, 225);
    display: flex;
    align-items: center;
}

#abafiltro {
    width: 440px;
    height: 400px;
    margin-top: 0;
    float: right;
    border-left: 3px solid rgb(226, 225, 225);
}

/* ------------------- FAKE DIVS ------------------- */
#barrafake1, #barrafake3 {
    width: 100%;
    height: 90px;
    background-color: red;
    position: absolute;
}

#barrafake2 {
    width: 100%;
    height: 100px;
    background-color: bisque;
    position: absolute;
    margin-top: 90px;
}

#barrafake3 {
    height: 70px;
    z-index: 0;
    margin-top: 840px;
}

#opcaofake {
    width: 100%;
    height: 40px;
    border-bottom: 3px solid rgb(226, 225, 225);
    position: absolute;
    margin-top: 910px;
}

#boxfake {
    width: 100%;
    height: 400px;
    margin-top: 970px;
    border-top: 0;
    border-bottom: 20px solid rgb(226, 225, 225);
    position: absolute;
}

#filfake {
    width: 100%;
    height: 50px;
    border-bottom: 3px solid rgb(226, 225, 225);
    position: absolute;
    margin-top: 1370px;
}

/* ------------------- LAYOUT GERAL ------------------- */
#conteiner {
    width: 1300px;
    height: 2000px;
    background-color: white;
    margin: auto;
}

#topo {
    width: 100%;
    height: 90px;
    background-color: red;
}

#logo {
    width: 190px;
    height: 90px;
    margin-top: 100px;
    float: left;
    position: relative;
    z-index: 2;
}

#butaofil {
    width: 200px;
    height: 55px;
    margin-left: 10px;
    margin-top: 20px;
    float: left;
    position: relative;
    z-index: 2;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sarchbar {
    width: 300px;
    height: 30px;
    background-color: white;
    float: left;
    margin-left: 60px;
    margin-top: 25px;
    position: relative;
    z-index: 2;
    border-radius: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#restalprox {
    width: 250px;
    height: 30px;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------- BANNER ------------------- */
#banner {
    width: 100%;
    background-color: antiquewhite;
    margin: auto;
}

/* ------------------- OPÇÕES ------------------- */
#barra {
    width: 100%;
    height: 120px;
    background-color: red;
}

#opcoes {
    width: 100%;
    height: 40px;
    border-bottom: 3px solid rgb(226, 225, 225);
    display: flex;
    align-items: center;
}

#foodbox {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-bottom: 20px solid rgb(226, 225, 225);
}

/* ------------------- MELHOR DO MÊS ------------------- */
#melhor {
    width: 860px;
    height: 50px;
    float: left;
    border-bottom: 3px solid rgb(226, 225, 225);
    display: flex;
    align-items: center;
}

#top {
    width: 850px;
    height: 300px;
    background-color: red;
    margin: 60px auto 0 1px;
    border-radius: 100px;
    float: left;
}

#foto {
    width: 300px;
    height: 300px;
    background-color: black;
    float: left;
}

#toptext {
    width: 550px;
    height: 300px;
    color: azure;
    float: left;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* ------------------- FOOTER ------------------- */
#rodape {
    width: 100%;
    height: 600px;
    background-color: rgb(216, 69, 69);
}

/* ------------------- CARROSSEL ------------------- */
#carouselExample {
    width: 80%;
    margin: 20px auto 0 auto;
    display: block;

    
}

#carouselExample .carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;

}

/* ------------------- RESTAURANTE CARD ------------------- */
.restaurante-card {
    border: 2px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

a:hover .restaurante-card {
    background-color: #e0dee5;
    color: #311b1b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ------------------- MAPA ------------------- */
.mapa-centralizado {
    width: 100%;
    margin-top: 20px;
}